{{ define "main" }}
  <main class="mw10 center mt4 bg-white container-page-margin card-container-single">
   <div class="mt5 card-container" style="margin-bottom: 50px; max-width: 100%">
    <div class="flex flex-column flex-row-l mt4  ">
      {{ $pages := .Site.RegularPages.GroupByParam "grouptype" }}

{{ range $value := $pages }}
  {{ if eq $value.Key "PI" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-50-ns  w-30-l  pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100-ns br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
                {{ range .Params.customresearch }}
               <p class="f5 mb3 mt3" style="padding-left: 20px; padding-right: 20px;">{{ . }}</p>
               {{ end }}
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
</div>
</div>


{{ range $value := $pages }}
  {{ if eq $value.Key "PhD students" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "Master students" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "Research assistants" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "Undergraduate students" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "Alumni" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container-alumni">
          {{ range $value.Pages }}
            <div class="fl pr0-ns mb2 mb0-ns bg-white card-between-margin-alumni card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f4 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f6 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f7 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}




{{ range $value := $pages }}
  {{ if eq $value.Key "导师" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-50-ns  w-30-l  pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100-ns br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
                {{ range .Params.customresearch }}
               <p class="f5 mb3 mt3" style="padding-left: 20px; padding-right: 20px;">{{ . }}</p>
               {{ end }}
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
</div>
</div>


{{ range $value := $pages }}
  {{ if eq $value.Key "博士生" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "硕士生" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "研究助理" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "本科生" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container">
          {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f3 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f5 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f5 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
                <p class="f5 mb3 mt3 gray" style="padding-left: 20px; padding-right: 20px;">{{ .Params.customintro }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

{{ range $value := $pages }}
  {{ if eq $value.Key "毕业生" }}
    <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
      </div>
      <div class="cf">
        <div class="card-container-alumni">
          {{ range $value.Pages }}
            <div class="fl pr0-ns mb2 mb0-ns bg-white card-between-margin-alumni card-bg-shadowed">
              <div class="text-center">
                  <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa">
                  <h2 class="f4 mb0 text-center" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                <h4 class="f6 mb0 pa0 ">{{ .Params.customtype }}</h4>
                <p class="mid-gray f7 mb3" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customemail }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 25px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}


</main>

<style>

  .card-container-alumni {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
.card-container-alumni .card-between-margin-alumni {
    flex-basis: calc(16.66% - 20px);
    margin-bottom: 20px;
  }

.card-between-margin-alumni:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.container-page-margin {
  margin: 5 auto;
  max-width: 85%;
}

.card-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container-single {
  word-wrap: break-word;
  word-break: break-all;
}

.card-bg-shadowed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card-between-margin {
  margin-bottom: 30px; margin-left: 10px; margin-right: 10px
}

.card-between-margin:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.text-center {
  text-align: center;
}


@media screen and (max-width: 600px) {
  .container-page-margin {
  margin: 5 auto;
  max-width: 100%;
  }

  .card-container-alumni .card-between-margin-alumni {
    flex-basis: 45%;
  }

}


}
</style>


{{ end }}