{{ define "main" }}
  <main class="mw10 center mt4 container-page-margin card-container-single container-bg">
    
<div class="cf container-bg card-between-margin-pi">
  <div class="card-container mt5" style="margin-bottom: 50px; max-width: 100%">
      <h1 class="f1 mb1 mt1 tc"> PI </h1>
    <div class="flex flex-column flex-row-l mt4  ">

      <div class="w-100 w-50-l pl5-ns pr5-ns">
        <img src="/images/people/pi.jpg" alt="Image" class="db w-100">
        <h3 class="f3 mb0 mt3"> Name </h3>
        <p class="f4 mb0">I am currently a professor at Computer Science Department, Harvard University. Before joining Harvard, I got both my B.S. (2007) and Ph.D (2012) degree from Harvard University, and worked as a research fellow at Harvard University (2013).</p>
        <h3 class="f3 mb0 mt3"> Research </h3>
        <ul>
          <li><p class="f4 mb0"> natural language processing</p></li>
          <li><p class="f4 mb0"> machine learning</p></li>
          <li><p class="f4 mb0"> online learning</p></li>
        </ul>
        <h3 class="f3 mb0 mt3"> Contact </h3>
        <p class="f4 mb1"> ertyuio@ertyui.com</p>
        <h3 class="f3 mb0 mt3"> Homepage </h3>
        <p class="f4 mb4"><a href="http://www.baidu.com" class="no-underline black hover-gold">www.baidu.com</a></p>
      </div>

      <div class="w-100 w-50-l pl5-ns pr5-ns">
        <img src="/images/people/pi.jpg" alt="Image" class="db w-100">
        <h3 class="f3 mb0 mt3"> Name </h3>
        <p class="f4 mb0">I am currently a professor at Computer Science Department, Harvard University. Before joining Harvard, I got both my B.S. (2007) and Ph.D (2012) degree from Harvard University, and worked as a research fellow at Harvard University (2013).</p>
        <h3 class="f3 mb0 mt3"> Research </h3>
        <ul>
          <li><p class="f4 mb0"> natural language processing</p></li>
          <li><p class="f4 mb0"> machine learning</p></li>
          <li><p class="f4 mb0"> online learning</p></li>
        </ul>
        <h3 class="f3 mb0 mt3"> Contact </h3>
        <p class="f4 mb1"> ertyuio@ertyui.com</p>
        <h3 class="f3 mb0 mt3"> Homepage </h3>
        <p class="f4 mb3"><a href="http://www.baidu.com" class="no-underline black hover-gold">www.baidu.com</a></p>
      </div>

    </div>
  </div>
</div>


    {{ $pages := .Site.RegularPages.GroupByParam "grouptype" }}
    {{ range $value := $pages }}
      <section>
      <div class="text-center">
        <h1>{{ $value.Key }}</h1>
        </div>
        <div class="cf ">
          <div class="card-container" style="max-width: 100%">
            {{ range $value.Pages }}
            <div class="fl w-20-ns pr0-ns mb4 mb0-ns bg-white card-between-margin card-bg-shadowed ">
              <div class="text-center">
                  <a href="{{ .Permalink }}" class="no-underline black ">
                     <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa" >
                     <h2 class="f5 mb0 text-center"  style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
                 </a>
                <p class="f5 mb3 gray bold" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customtype }}</p>
                <p class="f5 mb3 mt3 " style="padding-left: 20px; padding-right: 20px;">{{ .Params.customresearch }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </section>
    {{ end }}

  </main>
{{ end }}
