{{ define "main" }}
  <main class="mw8 center mt5"> 
    <div class="cf">

      <div class="fl w-100 w-25-ns pr0-ns mb4 mb0-ns">
        <div class="h-100  bg-white card-bg-shadowed card-container-single">
          <img src="{{ .Params.customimage }}" alt="{{ .Params.customname }}" class="db w-100 br0 mb2 pa0">
          <div class="text-center">
            <h2 class="f3 mb0 pa0" style="padding-left: 10px; padding-right: 10px;">{{ .Params.customname }}</h2>
            <p class="f5 mb0 pa0 bold mid-gray">{{ .Params.customtype }}</p>
            <p class="f5 mb0 pa0" style="padding-left: 30px; padding-right: 30px;">{{ .Params.customemail }}</p>
          {{ if .Params.social }}
            <ul class="list pl0 mb3 mt3">
              {{ range .Params.social }}
                <li class="dib mr0">
                  <a href="{{ .link }}" target="_blank" class="f6 bold no-underline mid-gray bg-animate inline-flex items-center pa1" style="margin-bottom: 20px;"> 
                  <i class="{{ .icon }}" style="font-size: 30px"></i>
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
         </div>
        </div>
      </div>

      <div class="fl w-100 w-70-ns ph3-ns">
        <div class="bg-white h-100 pa4 card-bg-shadowed">
        {{/* custom text */}}
          {{ .Content }}
        </div>
      </div>
    </div>
  </main>


<style>
.card-bg-shadowed {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-container-single {
  word-wrap: break-word;
  word-break: break-all;
}

.text-center {
  text-align: center;
}
</style>


{{ end }}
