{{ define "main" }}

<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l mw8 center ph3-l lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
  {{ .Content }}
</article>


{{ with .Site.GetPage "section" "research" }}
  <a href="{{ .RelPermalink }}" class="link center db f3 pa3 br4 bg-mid-gray white dim w5 tc" style="border-radius: 50px;">Learn More</a>
{{ end }}


{{ $section := where .Site.RegularPages "Section" "in" (slice "news") }}
{{ $section_count := len $section }}
{{ if ge $section_count 1 }}
  {{ $section_name := "news" }}
  <div class="pa3 pa4-ns w-100 w-70-ns center">
     {{ with .Site.GetPage "section" $section_name }}
        <h1 class="flex-none">
          {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
        </h1>
     {{ end }}

    {{ $n_posts := $.Param "recent_posts_number" | default 2 }}

    <section class="w-100 mw8">

      {{ range (first $n_posts $section) }}
        <div class="relative w-100 mb4">
          {{ .Render "summary-with-image-homepage" }}
        </div>
      {{ end }}
    </section>

{{ with .Site.GetPage "section" "contact" }}
  <a href="{{ .RelPermalink }}" class="link center db f3 pa3 br4 bg-mid-gray white dim w5 tc" style="border-radius: 50px;">JOIN US</a>
{{ end }}


      </div>
  {{ end }}
{{ end }}
