/* Put your custom styles here and run `npm start` from the "src" directory on */

/* All-Page*/

.bold {
  font-weight: bold;
}


/* People-Page*/

.container-bg {
  background-color: white;
}

.container-page-margin {
  margin: 5 auto;
  max-width: 75%;
}

.card-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container-single {
  word-wrap: break-word;
  word-break: break-all;
}

.publication-margin {
  /*margin: 10px 200px 10px 200px; /* top right bottom left */
  padding: 1px 200px; /* top/bottom left/right */
}

.card-bg-shadowed {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-between-margin-pi {
  margin-bottom: 30px; margin-left: 10px; margin-right: 10px
}

.card-between-margin {
  margin-bottom: 30px; margin-left: 10px; margin-right: 10px
}

.card-between-margin:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center;
}


@media screen and (max-width: 600px) {
  .container-page-margin {
  margin: 5 auto;
  max-width: 100%;
  }

  .publication-margin {
    word-wrap: break-word;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
  }

}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}
